@model IEnumerable<DeptHeadCount>

	<table class="table table-hover rounded-pill">
		<thead class="thead-light">
			<tr>
			<th>Gatunek</th>
			<th>Ilość rekordów</th>
			</tr>
		</thead>
		<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.Department</td>
				<td>@item.Count</td>
			</tr>
		}

		</tbody>
	</table>